<h2 mat-dialog-title>Delete user?</h2>
<mat-dialog-content>Are you sure you want to delete the selected user? This cannot be undone.</mat-dialog-content>
<mat-dialog-actions align="end">
  <button mat-button mat-dialog-close>Cancel</button>
  <button mat-button [mat-dialog-close]="true" color="warn">Delete</button>
</mat-dialog-actions>
