<h1> User Management </h1>

<button mat-raised-button color="primary" (click)="openCreateUserDialog()">Create User</button>

<div class="mat-elevation-z2">
  <table mat-table [dataSource]="userList" >
    <ng-container matColumnDef="id">
      <th mat-header-cell *matHeaderCellDef> ID </th>
      <td mat-cell *matCellDef="let row"> {{ row.id }} </td>
    </ng-container>

    <ng-container matColumnDef="firstName">
      <th mat-header-cell *matHeaderCellDef> First Name </th>
      <td mat-cell *matCellDef="let row"> {{ row.firstName }} </td>
    </ng-container>

    <ng-container matColumnDef="lastName">
      <th mat-header-cell *matHeaderCellDef> Last Name </th>
      <td mat-cell *matCellDef="let row"> {{ row.lastName }} </td>
    </ng-container>

    <ng-container matColumnDef="email">
      <th mat-header-cell *matHeaderCellDef> Email </th>
      <td mat-cell *matCellDef="let row"> {{ row.email }} </td>
    </ng-container>

    <ng-container matColumnDef="actions">
      <th mat-header-cell *matHeaderCellDef></th>
      <td mat-cell *matCellDef="let row" align="end">
        <button mat-stroked-button (click)="editUser(row)">
          <mat-icon>edit</mat-icon>
        </button> &nbsp;
        <button mat-stroked-button color="warn" (click)="deleteUser(row)">
          <mat-icon>delete_outline</mat-icon>
        </button>
      </td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="columNames"></tr>
    <tr mat-row *matRowDef="let row; columns: columNames"></tr>
  </table>
</div>
