<h1 matDialogTitle>Create User</h1>

<mat-dialog-content>
  <mat-form-field class="form-field" appearance="fill">
    <mat-label>Username</mat-label>
    <input matInput [(ngModel)]="command.username" required>
  </mat-form-field>
  <mat-form-field class="form-field" appearance="fill">
    <mat-label>First Name</mat-label>
    <input matInput [(ngModel)]="command.firstName">
  </mat-form-field>
  <mat-form-field class="form-field" appearance="fill">
    <mat-label>Last Name</mat-label>
    <input matInput [(ngModel)]="command.lastName">
  </mat-form-field>
  <mat-form-field class="form-field" appearance="fill">
    <mat-label>E-mail</mat-label>
    <input matInput [(ngModel)]="command.email">
  </mat-form-field>
  <mat-form-field class="form-field" appearance="fill">
    <mat-label>Phone</mat-label>
    <input matInput [(ngModel)]="command.phone">
  </mat-form-field>
  <div class="checkbox-wrapper">
    <mat-checkbox [(ngModel)]="command.isActive" color="primary">Active</mat-checkbox>
  </div>
</mat-dialog-content>

<mat-dialog-actions align="end">
  <button mat-raised-button (click)="addUser()" color="primary">Create</button>
  <button mat-button mat-dialog-close>Cancel</button>
</mat-dialog-actions>
