<mat-drawer-container class="container">
  <mat-drawer mode="side" opened position="start" class="mat-elevation-z8">
    <mat-toolbar color="primary">
      AngularApp
    </mat-toolbar>
    <mat-nav-list>
      <a mat-list-item *ngFor="let menuItem of menuItems" [routerLink]="menuItem.link">{{ menuItem.title }}</a>
    </mat-nav-list>
  </mat-drawer>
  <mat-drawer-content>
    <mat-toolbar color="primary">
      <span class="menu-spacer"></span>
      <span class="user">
        Logged in as <strong>{{ userProfile["firstName"] }} {{ userProfile["lastName"] }}</strong>
      </span>
      <button mat-icon-button (click)="logout()">
        <mat-icon matTooltip="Logout">logout</mat-icon>
      </button>
    </mat-toolbar>
    <div class="content">
      <router-outlet></router-outlet>
    </div>
  </mat-drawer-content>
</mat-drawer-container>
