@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;400;700&display=swap');

html, body {
  margin: 0;
  height: 100%;
}

body {
  font-family: "Roboto", "Helvetica Neue", sans-serif;
  overflow: hidden;
}

* {
  box-sizing: border-box;
}
